<?xml version="1.0"?>
<model>
  <name>industry_static_obstacles</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Antonello Venturino</name>
    <email>posta@antonelloventurino.me</email>
  </author>
  <description>Static obstacles within the industry environment</description>
</model>
